.home-content {
  box-sizing: border-box;
  margin-top: 60px;
  height: 100vh;
  text-align: center;
  width: 100vw;
  .mat-card {
    position: relative;
    h1 {
      color: #666666;
      line-height: 1em;
      padding: 10px;
      width: 100vw;
      span {
        vertical-align: super;
      }
    }
    .logo {
      height: 100px;
    }

    &.card {
      margin: 30px auto;
      max-width: 400px;

    }
  }

  .header-image {
    background-size: cover;
  }
}




